$background-color_1: #fff;
$background-color_2: #f5f5f5;
$background-color_3: #d1edf4;
$background-color_4: transparent;
$background-color_5: #b8bcc3;

/* table */
.m-grid {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $background-color_1;
  border-radius: 3px;
  overflow: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  .m-table-loading {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    .m-table-loading-icon {
      border: 8px solid #f3f3f3;
      border-radius: 50%;
      border-top: 8px solid #22a7ca;
      width: 50px;
      height: 50px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .m-table-container {
    border-radius: 3px;
    position: relative;
    flex: 1;
    height: calc(100% - 40px);
    overflow: auto;
  }
  .m-table-container-full {
    height: 100%;
  }
  .m-footer-container {
    position: absolute;
    bottom: 0px;
    height: 40px;
    background-color: $background-color_1;
    width: 100%;
    left: 0;
    z-index: 4;
    display: flex;
    align-items: center;
    padding-left: 13px;
  }
}

.m-table {
  background-color: $background-color_1;
  border-radius: 3px;
  border-collapse: separate;
  width: 100%;
  border-spacing: 0;
  thead {
    cursor: pointer;
    z-index: 4;
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    tr {
      th:nth-last-child(n + 2) {
        border-right: 1px solid #e0e0e0;
      }
      th {
        height: 38px;
        background-color: $background-color_2;
        border-bottom: 1px solid #e0e0e0;
        padding: 0 10px;
        border-left: none;
        .th-content {
          .th-resize {
            // background-color: red;
            cursor: col-resize;
            height: 100%;
            width: 5px;
            position: absolute;
            right: 0px;
            top: 0px;
          }
        }
      }
    }
    .m-th-action {
      width: 95px;
      min-width: 95px;
      text-align: center;
      position: sticky;
      right: 0;
      z-index: 5;
      border-left: 1px solid #e0e0e0 !important;
    }
    .m-th-checkbox {
      width: 40px !important;
      max-width: 40px !important;
      min-width: 40px !important;
      text-align: center;
      position: sticky;
      left: 0;
    }
  }

  tbody {
    tr {
      height: 30px;
      td:nth-last-child(n + 3) {
        border-right: 1px solid #e0e0e0;
      }
      td {
        height: 30px;
        background: #fff;
        border-left: none;
        border-bottom: 1px solid #e0e0e0 !important;
        .text-overflow {
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .td-normal-span {
          -webkit-line-clamp: 1;
          line-clamp: 1;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
      }
      &:hover {
        cursor: pointer;
        td {
          background-color: $background-color_3 !important;
        }
      }
      &:focus {
        td {
          background-color: $background-color_3 !important;
        }
      }
    }
    .m-tr-action {
      display: flex;
      text-align: center;
      padding: 0 10px;
      gap: 10px;
      justify-content: center;
      align-items: center;
      position: sticky;
      right: 0;
      z-index: 2;
      border-left: 1px solid #e0e0e0;
    }
    .m-tr-seleced {
      td {
        background-color: $background-color_3 !important;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: $background-color_4;
}
::-webkit-scrollbar-track {
  visibility: hidden;
  transition: visibility;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $background-color_5;
  &:hover {
    background: #a0a0a0;
  }
}

.text-limit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
