.tab-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #afafaf;
  margin-bottom: 5px;
  flex: 1;
}
.grids-tab-header {
  display: flex;
  background-color: #f4f5f8;
  border-bottom: 1px solid #c1c4cc;
  width: 100%;
  align-items: center;
}
.grids-tab-header .item-tabs {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 6px 12px;
  cursor: pointer;
}
.grids-tab-header .item-tabs-active {
  font-weight: 700;
  border-bottom: 2px solid #1aa4c8;
}

.grids-tab-content {
  flex: 1;
  padding: 10px;
  border-radius: 0 3px 3px;
  border-top: none;
}
