input:disabled {
  background: #f5f5f5;
  color: black;
}

input.m-input {
  position: relative;
  height: 30px;
  width: 100%;
  border: 1px solid #afafaf;
  outline: none;
  border-radius: 2.5px;
  padding: 0px 10px;
}

.th-filter input.m-input {
  border: none !important;
  height: 25px;
}

input.m-input:focus {
  border: 1px solid #22a7ca;
}

input.m-input:hover {
  border: 1px solid #22a7ca;
}

input.m-input:disabled {
  background-color: #f4f5f8;
}

input.m-input:disabled:hover {
  border: 1px solid #afafaf !important;
}

input:placeholder-shown {
  font-family: MISA Font Italic;
}

/* Trong trường hợp grid editor  */
/* tr td input.m-input {
  border: none !important;
} */

textarea:disabled {
  background: #f5f5f5;
  color: black;
}

textarea.m-input {
  position: relative;
  width: 100%;
  border: 1px solid #afafaf;
  outline: none;
  border-radius: 2.5px;
  padding: 10px;
  resize: none;
}

textarea.m-input:focus {
  border: 1px solid #22a7ca;
}

textarea.m-input:hover {
  border: 1px solid #22a7ca;
}

textarea.m-input:disabled {
  background-color: #f4f5f8;
}

textarea.m-input:disabled:hover {
  border: 1px solid #afafaf !important;
}

textarea:placeholder-shown {
  font-family: MISA Font Italic;
}
