.m-view {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 44px);
  width: 100%;
  padding: 10px 16px 16px 16px;
  background-color: #f4f7ff;
  overflow: hidden;
  .m-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 30px;
    .m-header-title {
      font-size: 20px;
      font-weight: 700;
    }
  }

  .m-container {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    width: 100%;
    height: calc(100% - 40px);
    .m-container-toolbar {
      display: flex;
      justify-content: space-between;
      padding: 8px 10px;
      .toolbar-right {
        display: flex;
        gap: 10px;
      }
    }
    .m-container-content {
      border-radius: 3px;
      width: 100%;
      height: calc(100% - 46px);
    }
  }
}

.action-link {
  color: #0078d7;
  font-weight: 600;
}
.m-menu-wrapper.active {
  .dropdown {
    background: url("/src/assets/icon/sprites-dd2ff8cd.svg") no-repeat -391px -81px;
    width: 10px;
    height: 6px;
  }
}
